<div class="input-container" >
  <md-input-container class="message-input" floatPlaceholder="never">
    <span mdPrefix >&nbsp; <md-icon>attachment</md-icon> &nbsp;</span>
    <input mdInput type="text" placeholder="Send a message" [(ngModel)]="nextMessage" [formControl]="sendControl" (keyup.enter)="!nextMessage || sendMsg()">
    <span mdSuffix >&nbsp; <md-icon>insert_emoticon</md-icon> &nbsp;</span>
    <span mdSuffix (click)="!nextMessage || sendMsg()" >&nbsp; <md-icon>send</md-icon> &nbsp;</span>

  </md-input-container>
</div>
