.container{
  background: #2492e9;
  height: 100%;
}


.messages-container{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.tag-messages-container{
  font-size: 18px;
  font-weight: bold;
  color: white;
}



md-input-container{
  width: 300px;
}
