<div class="container" fxLayout="column" fxLayoutAlign="space-around center">

  <div fxFlex class="image-container">
   <img src="assets/icon_250.png">
  </div>
  <div fxFlex class="messages-container">
    Create your Signal Account
  </div>
  <div fxFlex class="tag-messages-container">
    Private Browser in your web browser.
  </div>
  <md-menu #countryMenu="mdMenu">
    <button md-menu-item> India </button>
    <button md-menu-item> Singapore </button>
  </md-menu>
  <md-card fxFlex class="form-container">
    <form class="registration-form">
      <md-input-container class="">
        <span mdPrefix><md-icon [mdMenuTriggerFor]="countryMenu">flag</md-icon></span>
        <input #phoneNumber mdInput placeholder="Phone Number" >
      </md-input-container>

      <div fxLayout="row no-wrap" fxLayoutAlign="center" fxFlexGap="10px">
        <button fxFlex md-button (click)="call(phoneNumber)">Call</button>
        <button fxFlex md-button (click)="voice(phoneNumber)">Voice</button>
      </div>
      <md-input-container class="">
        <input #verificationCode  mdInput placeholder="Verification" >
      </md-input-container>
      <div fxLayout="row no-wrap" fxLayoutAlign="center" >
        <button fxFlex md-button (click)="verify(verificationCode)">Verify</button>
      </div>
    </form>
  </md-card>

</div>
