<md-sidenav-container fullscreen fxFlex>
  <md-sidenav mode="side" opened>
    <app-conversation-stack></app-conversation-stack>
  </md-sidenav>


  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutWrap  class="main-container" >
    <div fxFlex class="header-container"  >
      <md-toolbar color="primary">
        <span>{{(selectedFriend)?.name}}</span>
        <span fxFlex></span>
        <span >
          <md-icon>more_vert</md-icon>
        </span>
      </md-toolbar>
    </div>

    <div class="messages-container" fxLayout="column-reverse" fxFlex>
      <app-thread-view *ngIf="selectedFriend"></app-thread-view>
      <app-welcome-message *ngIf="!selectedFriend"></app-welcome-message>
    </div>

    <app-message-input *ngIf="selectedFriend"></app-message-input>
  </div>

  <!-- primary content -->
</md-sidenav-container>
