<md-toolbar fxLayout="column">
  <span>Signal</span>
  <span fxFlex></span>

  <md-menu #appMenu="mdMenu">
    <button md-menu-item> Settings </button>
    <button md-menu-item> Submit Debug Log </button>
    <button md-menu-item> Restart Signal </button>
  </md-menu>
  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
<md-progress-bar
  *ngIf="loading$ |async "
  class="example-margin"
  color="primary"
  mode="query">
</md-progress-bar>

<app-search-converstion [query]="searchQuery$ | async" [searching]="loading$ | async" (search)="search($event)">
</app-search-converstion>

<div *ngIf="(searchQuery$ | async)!==''">
  <app-friend-mini (click)="select(friend)" *ngFor="let friend of searchResult$ | async" [friend]="friend">
  </app-friend-mini>
</div>

<div *ngIf="(searchQuery$ | async)===''">
  <app-friend-mini (click)="select(friend)" *ngFor="let friend of friends$ | async" [friend]="friend">
  </app-friend-mini>
</div>
