<md-input-container floatPlaceholder="never">
  <span mdPrefix >&nbsp; <md-icon>search</md-icon> &nbsp;</span>
  <input mdInput [value]="query" (keyup)="search.emit($event.target.value)" type="text" placeholder="Search...">
</md-input-container>
